template Notification "teams-notifications-user-configuration" {
    import "teams-notifications-default-configuration"

    vars.teams_notifications_icinga2_base_url =  "<YOUR ICINGA URL>, e.g. https://monitoring.domain.com/icingaweb2"
    vars.teams_notifications_proxy = "<YOUR PROXY URL>, e.g. http://user:password@proxy.domain.com:port"
}

template Notification "teams-notifications-user-configuration-hosts" {
    import "teams-notifications-default-configuration-hosts"
}

template Notification "teams-notifications-user-configuration-services" {
    import "teams-notifications-default-configuration-services"
}
